.bg {
	margin: 0;
}

.container {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100pt;
}

.banner_img {
 	width: 100%;
}

.prof_pic{
	width:30%;
	float:left;
	padding: 5px;
}

.title{
	font-size: 50;
	padding: 20px;

}

.TAMU{
	width:30%;
	float:left;
	padding: 5px;
};
