---
layout: archive
---

{{ content }}

<meta itemprop="description" content="About me">

<div class="page__inner-wrap">
  <header></header>
  <section class="page__content">
    <p><strong>Welcome to my Webpage</strong></p>
    <p>I'm a Ph.D student at Texas A&M University. I study the Automated Machine Learn (AutoML) and its applications to biomedical data with <a href="https://stmilab.github.io/">Dr. Bobak Mortazavi</a>. I feel incredibly fortunate to have the opportunity to study something that is incredibly interesting to me while also having the potential to positively impact the health and wellbeing of everyone.</p>

    <p><strong>Undergraduate Work</strong></p>

    <p>I have previously worked with <a href="https://vita-group.github.io/">Dr. Zhangyang "Atlas" Wang</a> on Unsupervised Learning and Neural Architecture Search. My Undergraduate Research Thesis was written with Dr Wang and Dr Mortazavi on "Boosting Partial Channel Neural Architecture Search with Gradient Projection." In this work we attemtpt to identify some issues that arise from disproportionate gradient flows through differentiable neural architecture cells. We try to address this issue with a multi-task learning method called gradient projection. In this thesis we show that our method can produce competitive results in half the time as the SOTA at the time.</p>

    <p>I also worked with <a href="https://ibt.tamu.edu/faculty/kurt-zhang.html">Dr. Ke "Kurt" Zhang</a> as an Undergraduate Research Assitant on Deep Gaussian Mixture Models for scRNA-seq data. We developed a Gaussian Mixture Variational Autoencoder that utilized Maximum Mean Discrepancy to merge batches. In addition, raw scRNA-seq data is represented as counts of gene expressions in cells which results in a large number of zero count data. Our model used a Decoder that was adapted to handle Zero Inflated Negative Binomial distributed data. To tune the hyperparameters of this method, I used Bayesian Optimized Hyperband. I was a co-presenter at the Single Cell Omics Symposium this year where we presented a poster of our results and methods from this project. We are continuing to explore the applications of the method to overcome batch effect. </p>

    <p><strong>Before Computer Science</strong></p>

    <p>Before my obsession with Machine Learning, I attended Virginia Military Institute (VMI) and received a B.S. in Civil Engineering. During my time at VMI, I was able to become a certified EMT where I had the opportunity to learn about the medical world and help my community. In May of 2015 I graduated from VMI and received my commission as an Active Duty Army Infantry Officer. During my time in the Army, I was stationed at Fort Bliss with the 1st Armored Division. We deployed to Kuwait, Iraq and Syria in support of multiple overseas operations. In July of 2019, I got out of the Army and started my Undergraduate Degree in Computer Science at Texas A&M University.</p>
  </section>
</div>



